.heading
{
    font-size: 30px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: tomato;
}

body
{
    background-size: cover;
}

.div_ID
{
    float: center;
}

#ID
{
    font-size: 23px;
    margin: 15px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}